[submodule "bgfx"]
	path = bgfx
	url = https://github.com/ysern/RVR-3rdParty-bgfx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/ysern/RVR-3rdParty-bimg.git
[submodule "bx"]
	path = bx
	url = https://github.com/ysern/RVR-3rdParty-bx.git
